.sendForm {
	padding: 0 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	font-family: "Montserrat", sans-serif;
	width: 100%;
}

.textarea {
	border-radius: 8px;
	padding: 10px;
	width: 100%;
	background-color: #F5F7FB;
	border:none;
}

.button {
	background-color: #0066CC;
	color: #FFF;
	padding:  8px 30px;
	font-size: 16px;
	font-weight: 600;
	border:none;
	border-radius: 14px;
}

/* .button:hover {

}
.button:active {

} */
